{
    http_port 8080
}

:8080 {
    log {
        output stdout
        format json
    }
    @robots {
        path /robots.txt
    }
    root * /usr/share/caddy
    try_files {path} /unit-converter.html
    file_server
}
